---
---

@import "{{ site.theme }}";

.logo {
    width: 10em;
    height: 10em;
    aspect-ratio: 1;
}

.title {
    font-size: 32px;
}

#markdown-toc {
    display: block;
    padding: 8px;
    padding-inline-start: calc(8px + 2ch);
    width: max-content;
    background-color: rgba(0.5, 0.5, 0.5, 20%);
    border: 1px solid rgba(0.5, 0.5, 0.5, 75%);
    border-radius: 3px;
    color: initial;
}
#markdown-toc::before {
    content: "Table of Contents";
    font-weight: bold;
    margin-inline-start: -2ch;
}
#markdown-toc li {
    list-style-type: number;
}
#markdown-toc *:hover {
    font-weight: revert;
}
.permalink {
    padding-left: 0.25em;
    width: max-content;
    display: inline-block;
    opacity: 0;
}
*:hover > .permalink, .permalink:hover {
    opacity: revert;
}
